#title {
	font-family: 'Lusitana', serif;	
}

#header {
	height: 15px;
	text-align: right;
}

#header a {
	color: #000000;
	text-decoration: none;
}

/*
*/

.container {
	margin-top: 15px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
}

/*
*/

#tabs {
	text-align: center;
}

#tabs li {
	display: inline;
	padding: 0 20px 0 20px;
}

#tabs a {
	text-decoration: none;
	color: #000000;
}

#tabs a:hover {
	color: #31007f;
}

#tabs h2 {
	display: inline;
	font-family: 'Lusitana', serif;
}

/*
*/

p {
	font-family: 'Hind', sans-serif;
	margin-top: 0;
}

#about li, #who li, #competition li {
	font-family: 'Hind', sans-serif;
	font-weight: bold;
}

/*
*/

#oxford a {
	text-decoration: none;
	color: #000000;
}

/*
from: https://css-tricks.com/examples/hrs/
*/
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

/*
glyphicons from bootstrap
*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-envelope:before {
  content: "\2709";
}

/*
glyphicon looks different in local html file
and in Github page
*/
span.glyphicon-envelope {
	font-size: 0.7em;
}