.wrapper {
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul a {
	text-decoration: none;
}

li {
	display: inline;
	padding: 0px 20px 0px 20px;
}

#tabs li>a {
	color: black;
}

#tabs a:hover {
	color: #31007f;
}

p {
	font-family: 'Hind', sans-serif;
}

h1 {
	font-family: 'Lusitana', serif;
}

h3 {
	font-family: 'Lusitana', serif;
	margin-bottom: -12px;
	display: inline;
}

/*
from: https://css-tricks.com/examples/hrs/
*/
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

#footer {
	bottom: 0px;
	margin-bottom: 5px;
	position: absolute;
	width: 70%;
	text-align: center;
	font-family: 'Lusitana', sans-serif;
}

#oxfordComma>a {
	text-decoration: none;
	color: black;
}

#circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}